<section id="contact" class="section-padding">
  <div class="contact-form">
    <div class="container">
      <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="contact-block">
            <h2>Contact Form</h2><br>
            <div class="text-center">
              <h2>You are using Free Version</h2>
              <h4>Please, purchase full version to get all features and pages</h4><br>
              <b>Including:</b>
              <p>- 2 Homepage Variations</p>
              <p>- All Elements and Features</p>
              <p>- Amazing Slider</p>
              <p>- Documentation File</p>
              <p>- Quick Support</p>
              <p>- Permission to Use in Commercial Projects</p>
              <p>- Footer Credit Removal</p>
              <p>- SASS Files</p>
              <br>
              <a href="http://rebrand.ly/meet-me-ud-purchase" target="_blank" class="btn btn-common btn-lg">Purchase Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="footer-right-area wow fadeIn">
            <h2>Contact Address</h2>
            <div class="footer-right-contact">
              <div class="single-contact">
                <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
                <p>San Francisco, CA</p>
              </div>
              <div class="single-contact">
                <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                <p><a href="mailto:hello@tom.com">hello@tom.com</a></p>
                <p><a href="mailto:tomsaulnier@gmail.com">tomsaulnier@gmail.com</a></p>
              </div>
              <div class="single-contact">
                <div class="contact-icon"><i class="fa fa-phone"></i></div>
                <p><a href="#">+ (00) 123 456 789</a></p>
                <p><a href="#">+ (00) 123 344 789</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
